*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.dado{
    height:100vh;
    background-color: #0000ff;
    display:flex;
    justify-content: center;
    align-items: center;

}

.dado__shape{
    height:300px;
    flex-basis:300px;
    border-radius: 30px;
    background-color: #ffffff;
    padding:38px;

    display:flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    
    gap:10%;

}

.dado__point{
    width:60px;
    padding:10px;
    display:inline-block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #000000;
}

