*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.grid__container{
    display:grid;
    grid-template-columns: repeat(4, 1fr); /*auto-fit: expande los elementos hasta completar// auto-fill: rellena con cuadrciula*/
    justify-items: stretch;
    align-items: stretch;
    gap:10px;
}

.grid__item{
    height:150px;

}

.grid__item--1{
    justify-self: end;
    align-self: end;
    place-self: end end;

}

.grid__item--special{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: span 3;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-row: span 2;
}
