* { padding: 0; margin:0; box-sizing: border-box; font-size: 24px; font-family: Arial, Helvetica, sans-serif;}

.flex__container {
    display:flex;
    flex-flow:nowrap;
    height:100vh;
    /*
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    align-items: space-around;
    gap:0;
    */
}

.flex__item {
    flex:0 1 20%;  

} 

.flex__item--1{
    order:1;
}

.flex__item--2{
    order:2;
}

.flex__item--3{
   order:3;
}

.flex__item--4{
    order:4;
}

.flex__item--5{
    order:5;
   /* align-self: flex-end; declarar a quien se le hace el flex*/
}
