*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: #0000ff;
}

.dado{
    height:100vh;
    background-color: #0000ff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.dado__shape{
    
    height:285px;
    flex-basis:331px;
    border-radius: 30px;
    background-color: #ffffff;
    padding:20px;

   
}

.dado__point--1{

    width:20%;
    padding:14%;
    background-color: #000000;
    border-radius: 50%;
   
 
 }

 
 
.dado__point--2{
 
     width:20%;
     padding:14%;
     background-color: #000000;
     border-radius: 50%;
  
  }

.dado__point--3{
 
    width:20%;
    padding:14%;
    background-color: #000000;
    border-radius: 50%;
 
 }

.colocar__dado--2{
    display:flex;
    justify-content: center;
}

.colocar__dado--3{
    display:flex;
    justify-content: flex-end;
 }