*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    padding:10px;
}



.grid__container{
    display:grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 2fr 3fr 2fr 1.5fr 1fr 0.5fr;
    gap:20px;
    height:100vh;
    
}

.grid__item{
    
    aspect-ratio: 1/1;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.photo{
    
    background-image:url('mcenroe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: fit-content;
    height: fit-content;
    padding: 85px;
    border-radius: 50%;
    mix-blend-mode:hard-light;

}